<!DOCTYPE html>
<html lang="zh-CN" class="">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="X-ZA-Response-Id" content="1d02dc91da914744">
<meta http-equiv="X-ZA-Experiment" content="default:None,ge3:ge3_9,ge2:ge2_1,nweb_sticky_sidebar:sticky,send_za_monitor:true,live_review_buy_bar:live_review_buy_bar_2,home_ui2:default,app_store_rate_dialog:close,qa_sticky_sidebar:sticky_sidebar,android_profile_panel:panel_b,new_more:new,live_store:ls_a2_b2_c1_f2,answer_related_readings:qa_recommend_by_algo_related_with_article,new_mobile_column_appheader:new_header,fav_act:default,mobile_qa_page_proxy_heifetz:m_qa_page_nweb,new_buy_bar:livenewbuy3,zcm-lighting:zcm,iOS_newest_version:4.2.0,qrcode_login:qrcode,wechat_share_modal:wechat_share_modal_show">
<meta name="renderer" content="webkit" />
<meta name="description" content="中文互联网最大的知识平台，帮助人们便捷地分享彼此的知识、经验和见解。" />
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<title>阿思客 - 我们一起ask！</title>
<link rel="apple-touch-icon" href="https://static.zhihu.com/static/revved/img/ios/touch-icon-152.87c020b9.png" sizes="152x152">
<link rel="apple-touch-icon" href="https://static.zhihu.com/static/revved/img/ios/touch-icon-120.496c913b.png" sizes="120x120">
<link rel="apple-touch-icon" href="https://static.zhihu.com/static/revved/img/ios/touch-icon-76.dcf79352.png" sizes="76x76">
<link rel="apple-touch-icon" href="https://static.zhihu.com/static/revved/img/ios/touch-icon-60.9911cffb.png" sizes="60x60">
<link rel="shortcut icon" href="https://static.zhihu.com/static/favicon.ico" type="image/x-icon" />
<link rel="dns-prefetch" href="p1.zhimg.com" />
<link rel="dns-prefetch" href="p2.zhimg.com" />
<link rel="dns-prefetch" href="p3.zhimg.com" />
<link rel="dns-prefetch" href="p4.zhimg.com" />
<link rel="dns-prefetch" href="comet.zhihu.com" />
<link rel="dns-prefetch" href="static.zhihu.com" />
<link rel="dns-prefetch" href="upload.zhihu.com" />
<link rel="stylesheet" href="__CSS__/main.f214513a.css">
<meta name="google-site-verification" content="FTeR0c8arOPKh8c5DYh_9uu98_zJbaWw53J-Sch9MTg" />
<meta name="baidu-site-verification" content="KPFppAFoYF4Kkdv9" />
<meta property="qc:admins" content="00544670776201056375" />
<link rel="canonical" href="http://www.zhihu.com" />
<!-- <link rel="stylesheet" type="text/css" href="__BOOT__/css/bootstrap.css"> -->
<meta id="znonce" name="znonce" content="68319a5040a6447da1bccb0c93d0cb64">
<!--[if lt IE 9]>
      <script src="__JS__/respond.min.js"></script>
      <link href="https://static.zhihu.com/static/components/respond/cross-domain/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
      <link href="/static/components/respond/cross-domain/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
      <script src="__JS__/respond.proxy.js"></script>
    <![endif]-->
<script src="__JS__/instant.14757a4a.js"></script>
<script type="text/javascript" src="http://open.51094.com/user/myscript/159f40fa13961e.html"></script>

</head>

<body class="zhi ">
<div class="index-main">
    <div class="index-main-body">
        <div class="index-header">
            <h1>阿思客</h1>


            <h2 class="subtitle">知之为知之,不知阿思客</h2>
        </div>
        <div class="desk-front sign-flow sign-flow clearfix sign-flow-simple">
            <div class="index-tab-navs">
                <div class="navs-slider"> 
                	<a href="#signup" id="btn-logup" class="active">注册</a> 
                	<a href="#signin" id="btn-login">登录</a>

                	<!-- <span class="navs-slider-bar"></span> -->
                </div>
            </div>
            <div class="view view-signin" id='form-login' data-za-module="SignInForm">
                <form method="POST" action="{:url('index/checkLogin')}">
                    
                    <div class="group-inputs">
                        <div class="account input-wrapper">
                            <input type="text" name="account" aria-label="手机号或邮箱" placeholder="手机号或邮箱" required>
                        </div>
                        <div class="verification input-wrapper">
                            <input type="password" name="password" aria-label="密码" placeholder="密码" required />
                            <button type="button" class="send-code-button">获取验证码</button>
                        </div>
                        <div class="Captcha input-wrapper" data-type="cn" data-za-module="Captcha">
                            
                        </div>
                    </div>
                    <div class="button-wrapper command">
                        <button class="sign-button submit" type="submit">登录</button>
                    </div>
                    <div class="signin-misc-wrapper clearfix">
                        <button id='btn-photo' type="button" class="signin-switch-button">手机验证码登录</button>
                        <a class="unable-login" href="#">无法登录？</a></div>
                    <div class="other-signup-wrapper" data-za-module="SNSSignIn"> <span class="name signin-switch-qrcode-buttons">二维码登录</span> <span class="signup-footer-separate signup-footer-se">·</span> <span class="name signup-social-buttons js-toggle-sns-buttons">社交帐号登录</span>                        
                    </div>
                    <div style="text-align: center">
                    	
                    	<span id="hzy_fast_login"></span>

                    </div>
                </form>

                <div class="qrcode-signin-container"> 
                	<span class="signin-switch-password">使用密码登录</span>
                	<div class="qrcode-signin-guide"></div>
                </div>
                <!-- <div class="QRCode">
            <button class="QRCode-toggleButton">
            <span class="sprite-global-icon-qrcode"></span>
            <span class="QRCode-toggleButtonText ">下载知乎 App</span></button>
            <div class="QRCode-card">
            <div class="QRCode-image"></div>
            <div class="sprite-index-icon-arrow"></div></div>
            </div> --> 
            </div>
            <div class="view  view-signup selected" id="form-logup"  data-za-module="SignInForm">
                <form  class="zu-side-login-box" action="{:url('index/addUser')}" id="sign-form-1" autocomplete="off" method="POST">
                    
                    <div class="group-inputs" style="background-color: white">
                        <div class="name input-wrapper">
                            <input style="width: 70%" required type="text" name="nickname" aria-label="姓名" placeholder="昵称"><label id="lab-name" style="font-size: 12px; width: 30%;"></label>
                        </div>
                        <div class="email input-wrapper">
                            <input style="width: 70%" required type="text" class="account" name="phone" aria-label="手机号" placeholder="手机号"><label id="lab-phone" style="font-size: 12px; width: 30%;"></label>
                        </div>
                         <div class="email input-wrapper">
                            <input style="width: 60%" required type="text" class="yzm" name="yzm" aria-label="手机号" placeholder="验证码"><button type="button" class="Button" id="btn-yzm" style="background-color: white ;font-size: 12px; width: 23%;height: 45px">点击获取</button><label id="lab-yzm" style="font-size: 12px; width: 10%;"></label>
                        </div>
                        <div class="input-wrapper">
                            <input style="width: 70%" required type="password" name="password" aria-label="密码" placeholder="密码（不少于 6 位）" autocomplete="off"><label id="lab-password" style="font-size: 12px; width: 30%;"></label>
                        </div>
                        
                    </div>
                    <div class="button-wrapper command">
                        <button class="sign-button submit" type="button" id="btn-sub">注册知乎</button>
                    </div>
                </form>
                <p class="agreement-tip">点击「注册」按钮，即代表你同意 <a href="/terms" target="_blank">《知乎协议》</a></p>
                <div class="QRCode" style="text-align: center">




                    




                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer"> <a target="_blank" href="https://zhuanlan.zhihu.com">知乎专栏</a> <span class="dot">·</span> <a target="_blank" href="/roundtable">知乎圆桌</a> <span class="dot">·</span> <a target="_blank" href="/explore" data-za-c="explore" data-za-a="visit_explore" data-za-l="home_bottom_explore">发现</a> <span class="dot">·</span> <a target="_blank" href="/app">移动应用</a> <span class="dot">·</span> <a href="/contact" class="footer-mobile-show">联系我们</a> <span class="dot">·</span> <a target="_blank" href="/careers">来知乎工作</a> <br />
    <span>&copy; 2017 知乎</span> <span class="dot">·</span> <a href="http://www.miibeian.gov.cn/" target="_blank">京 ICP 证 110745 号</a> <span class="dot">·</span> <span>京公网安备 11010802010035 号</span> <span class="dot">·</span> <a href="http://zhstatic.zhihu.com/assets/zhihu/publish-license.jpg" target="_blank">出版物经营许可证</a> <br />
    <a target="_blank" href="https://zhuanlan.zhihu.com/p/28852607">侵权举报</a> <span class="dot">·</span> <a target="_blank" href="http://www.12377.cn">网上有害信息举报专区</a> <span class="dot">·</span> <a target="_blank" href="/jubao">儿童色情信息举报专区</a> <span class="dot">·</span> <span>违法和不良信息举报：010-82716601</span>
    <div class="chengxing"> <a id='___szfw_logo___' href='https://credit.szfw.org/CX20170607038331320388.html' target='_blank'> <img src="__PIC__/chengxing_logo@2x.65dc76e8.png" border='0' /></a> 
        <script type='text/javascript'>(function() {
            document.getElementById('___szfw_logo___').oncontextmenu = function() {
              return false;
            }
          })();</script> 
    </div>
</div>
<script type="text/json" class="json-inline" data-name="disabled_components">["back_to_top"]</script> 
<script type="text/json" class="json-inline" data-name="current_user">["", "", "", "-1", "", 0, 0]</script> 
<script type="text/json" class="json-inline" data-name="env">["zhihu.com", "comet.zhihu.com", false, null, false, false]</script> 
<script type="text/json" class="json-inline" data-name="ga_vars">{
        "user_created": 0,
        "now": 1507771548000,
        "abtest_mask": "------------------------------",
        "user_attr": [0, 0, 0, "-", "-"],
        "user_hash": 0
      }</script> 
<script src="__JS__/vendor.cb14a042.js"></script> 
<script src="__JS__/base.972bad32.js"></script> 
<script src="__JS__/common.001d4e12.js"></script> 
<script src="__JS__/page-index.db63ea44.js"></script>
<meta name="entry" content="ZH.entrySignPage" data-module-id="page-index">
<input type="hidden" name="_xsrf" value="0c467f70fb42f4d9210974ebc629bfcc" />
</body>
</html>
<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js"></script>
<script type="text/javascript">
	var isnickname = false;
	var isphone = false;
	var ispassword = false;
	var isyzm = false;
	$('#btn-login').click(function(){
		$('#btn-logup').removeClass('active');
		$('#btn-login').addClass('active');
		$('#form-logup').css('display','none');
		$('#form-login').css('display','block');
	});
	$('#btn-logup').click(function(){
		$('#btn-login').removeClass('active');
		$('#btn-logup').addClass('active');
		$('#form-login').css('display','none');
		$('#form-logup').css('display','block');
	});

	$('input[name=nickname]').change(function(){
		var nickname = $(this).val();
	    
	      	
	      	var reg = /^[a-zA-Z0-9_\u4e00-\u9fa5]{2,9}$/;
	      	if(reg.test(nickname)==false){
	          	$('#lab-name').text('用户名不正确').css('color','red');
	          	isnickname = false;
	        return false;
	      	}else{

	       		$.post("{:url('index/checkNickName')}",{nickname:$(this).val()},function(data){
					if(data.code){
						$('#lab-name').text(data.info).css('color','green');
						isnickname = true;
					}else{
						$('#lab-name').text(data.info).css('color','red');
						isnickname = false;
					}
		 		},'json');
				
	      	}
	});

	
	function checkPhone(){
		var phone = $(this).val();
	    
	      	$('#lab-phone').text('');
	      	var reg = /^1[3|4|5|7|8][0-9]{9}$/;
	      	if(reg.test(phone)==false){
	          	$('#lab-phone').text('号码格式不正确').css('color','red');
	          	isphone = false;
	      	}else{

	       		$.post("{:url('index/checkPhone')}",{phone:$(this).val()},function(data){
					if(data.code){
						$('#lab-phone').text(data.info).css('color','green');
						isphone = true;
					}else{
						$('#lab-phone').text(data.info).css('color','red');
						isphone = false;
					}
		 		},'json');
				
	      	}
	
	}
	$('input[name=phone]').change(checkPhone);

	$('input[name=yzm]').change(function(){
		var yzm = $(this).val();    
      	$('#lab-name').text('');
   		$.post("{:url('index/checkYzm')}",{yzm:$(this).val()},function(data){
			if(data.code){
				$('#lab-yzm').text(data.info).css('color','green');
				isyzm = true;
			}else{
				$('#lab-yzm').text(data.info).css('color','red');
				isyzm = false;
			}
 		},'json');
	});


	
	$('input[name=password]').blur(function(){
		var password = $(this).val();
	    
	      	$('#lab-password').text('');
	      	var reg = /^[a-zA-Z0-9_-]{6,250}$/;
	      	if(reg.test(password)==false){
	          	$('#lab-password').text('密码至少6位').css('color','red');
	          	ispassword = false;
	        return false;
	      	}else{
	      		$('#lab-password').text('符合要求').css('color','green');
	      		ispassword = true;
	      	}
	});

	$('#btn-yzm').click(function(){
			var phone = $("input[name=phone]").val();
			$.post("{:url('index/sendYzm')}",{phone:phone},
			function(obj){
			// alert(obj.send);
			$('#lab-yzm').text(obj.send).css('color','red');
			},'json');
			

	});
	$('#btn-sub').click(function(){
		if(ispassword && isphone && isnickname && isyzm){
			$('#sign-form-1').submit();
		}else{
			return false;
		}
	});

		
</script>