<div class="div-comment" class="Comments-container">

<div class="Comments Comments--withEditor Comments-withPagination">
    <div class="Topbar CommentTopbar">
        <div class="Topbar-title">
            <h2 class="CommentTopbar-title"> 
                <!-- react-text: 3699 -->{$count} 条评论<!-- /react-text --> 
            </h2>
        </div>
        <div class="Topbar-options">
            <button class="Button CommentTopbar-switch Button--link" type="button"> 
            <!-- react-text: 3702 -->切换为<!-- /react-text --> 
            <!-- react-text: 3703 -->时间排序<!-- /react-text --> 
            </button>
        </div>
    </div>
    <div>
        <div class="CommentList">
        {if !empty($comments)}
        	{foreach $comments as $comment}
            <div class="CommentItem">
                <div>
                    <div class="CommentItem-meta"> <span class="UserLink CommentItem-avatar">
                        <div class="Popover">
                            <div id="Popover-64682-19915-toggle" aria-haspopup="true" aria-expanded="false" aria-owns="Popover-64682-19915-content"> <a class="UserLink-link" data-za-detail-view-element_name="User" href="{:url('User/userCenter',array('personid'=>$comment['senduser']['userid']))}"> <img class="Avatar UserLink-avatar" width="24" height="24" src="{$comment['senduserinfo']['photo']}" srcset="https://pic3.zhimg.com/311ab3721a8de33a690270dc6a85597e_xs.jpg 2x" alt="{$comment['senduser']['nickname']}"> </a> </div>
                            <!-- react-empty: 5332 --> 
                        </div>
                        </span> <span class="UserLink"> <a class="UserLink-link" data-za-detail-view-element_name="User" href="/people/hai-yi-zhu">{$comment['senduser']['nickname']} 
                        {if $comment['takeuserid'] != 0}  
                        回复:<a href="{:url('User/userCenter',array('personid'=>$comment['takeuser']['userid']))}">{$comment['takeuser']['nickname']}</a>
                        {/if}
                        </a> </span> <span class="CommentItem-time">{$comment['create_time']}</span>
                    </div>
                    <div class="RichText CommentItem-content">{$comment['commentcontent']}</div>
                    <div class="CommentItem-footer">
                        <button class="Button CommentItem-likeBtn Button--plain" type="button"> <svg viewBox="0 0 20 18" xmlns="http://www.w3.org/2000/svg" class="Icon Icon--like Icon--left" width="13" height="16" aria-hidden="true" style="height: 16px; width: 13px;">
                        <title> </title>
                        <g>
                            <path d="M.718 7.024c-.718 0-.718.63-.718.63l.996 9.693c0 .703.718.65.718.65h1.45c.916 0 .847-.65.847-.65V7.793c-.09-.88-.853-.79-.846-.79l-2.446.02zm11.727-.05S13.2 5.396 13.6 2.89C13.765.03 11.55-.6 10.565.53c-1.014 1.232 0 2.056-4.45 5.83C5.336 6.965 5 8.01 5 8.997v6.998c-.016 1.104.49 2 1.99 2h7.586c2.097 0 2.86-1.416 2.86-1.416s2.178-5.402 2.346-5.91c1.047-3.516-1.95-3.704-1.95-3.704l-5.387.007z"> </path>
                        </g>
                        </svg> 
                        <!-- react-text: 5342 -->2<!-- /react-text --> 
                        </button>

                        <button  class="btn-huifu Button CommentItem-hoverBtn Button--plain" type="button"> <svg viewBox="0 0 22 16" class="Icon Icon--reply Icon--left" width="13" height="16" aria-hidden="true" style="height: 16px; width: 13px;">
                        <title> </title>
                        <g>
                            <path d="M21.96 13.22c-1.687-3.552-5.13-8.062-11.637-8.65-.54-.053-1.376-.436-1.376-1.56V.677c0-.52-.635-.915-1.116-.52L.47 6.67C.18 6.947 0 7.334 0 7.763c0 .376.14.722.37.987 0 0 6.99 6.818 7.442 7.114.453.295 1.136.124 1.135-.5V13c.027-.814.703-1.466 1.532-1.466 1.185-.14 7.596-.077 10.33 2.396 0 0 .395.257.535.257.892 0 .614-.967.614-.967z"> </path>
                        </g>
                        </svg> 
                        <!-- react-text: 5347 -->回复<!-- /react-text --> 
                        </button>

                        <button class="Button CommentItem-hoverBtn Button--plain" type="button"> <svg viewBox="0 0 20 18" xmlns="http://www.w3.org/2000/svg" class="Icon Icon--like Icon--left" width="13" height="16" aria-hidden="true" style="transform: rotate(180deg); height: 16px; width: 13px;">
                        <title> </title>
                        <g>
                            <path d="M.718 7.024c-.718 0-.718.63-.718.63l.996 9.693c0 .703.718.65.718.65h1.45c.916 0 .847-.65.847-.65V7.793c-.09-.88-.853-.79-.846-.79l-2.446.02zm11.727-.05S13.2 5.396 13.6 2.89C13.765.03 11.55-.6 10.565.53c-1.014 1.232 0 2.056-4.45 5.83C5.336 6.965 5 8.01 5 8.997v6.998c-.016 1.104.49 2 1.99 2h7.586c2.097 0 2.86-1.416 2.86-1.416s2.178-5.402 2.346-5.91c1.047-3.516-1.95-3.704-1.95-3.704l-5.387.007z"> </path>
                        </g>
                        </svg> 
                        <!-- react-text: 5352 -->踩<!-- /react-text --> 
                        </button>

                        <button class="Button CommentItem-hoverBtn Button--plain" type="button"> <svg viewBox="0 0 18 20" class="Icon Icon--report Icon--left" width="11" height="16" aria-hidden="true" style="height: 16px; width: 11px;">
                        <title> </title>
                        <g>
                            <path d="M16.947 1.13c-.633.135-3.927.638-5.697.384-3.133-.45-4.776-2.54-9.95-.888C.305 1.04.025 1.664.025 2.646L0 18.807c0 .3.1.54.304.718.195.202.438.304.73.304.275 0 .52-.102.73-.304.202-.18.304-.418.304-.718v-6.58c4.533-1.235 8.047.668 8.562.864 2.343.893 5.542.008 6.774-.657.397-.178.596-.474.596-.887V1.964c0-.6-.42-.972-1.053-.835z"> </path>
                        </g>
                        </svg> 
                        <!-- react-text: 5357 -->举报<!-- /react-text --> 
                        <!-- react-empty: 5443 --> 
                        </button>
                    </div>
                    <div class="div-huifu" style="display: none">
                    	<textarea style="width: 100%"></textarea>
                    	<button data-page="{$prevpage}" data-answerid="{$answerid}" data-quesid="{$quesid}" data-takeuserid="{$comment['senduserid']}" class="btn-reply Button">发表</button>
                    	<button class="btn-cancel Button">取消</button>
                    </div>
                    <!-- react-empty: 5359 --> 
                    <!-- react-empty: 5444 --> 
                </div>
            </div>
            {/foreach}
        {/if}





        </div>

        <div class="Pagination comments-pagination">
        	<button data-page="{$prevpage}" data-answerid="{$answerid}" data-quesid="{$quesid}" class="Button PaginationButton PaginationButton-next Button--plain" type="button">上一页</button>

            <button data-answerid="{$answerid}" data-quesid="{$quesid}" class="Button PaginationButton PaginationButton--current Button--plain" disabled="" type="button"><input class="changepage" type="text" name="page" value="{$page}" style="width: 32px;text-align: center"></button> 

            <button data-page="{$nextpage}" data-answerid="{$answerid}" data-quesid="{$quesid}" class="Button PaginationButton PaginationButton-next Button--plain" type="button">下一页</button>共{$pagenum}页
        </div>

        <span> </span> </div>
    <div class="Comments-footer CommentEditor--normal">
        <div class="CommentEditor-input Input-wrapper Input-wrapper--spread Input-wrapper--large Input-wrapper--noPadding">
            <div class="Input Editable" style="text-align: left;">

                <textarea  style="width: 80%;height: 52px"></textarea>
                <button  data-page="{$prevpage}" data-answerid="{$answerid}" data-quesid="{$quesid}"  class="btn-fabiao Button" style="width: 70px;height: 30px" >发表</button>

            </div>

            
        </div>
        <button class="Button CommentEditor-singleButton Button--primary Button--blue" disabled="" type="button">评论</button>
    </div>
</div>
</div>
<script type="text/javascript">
	$(".PaginationButton").click(function(){
                var pagebtn = $(this);
                var page = $(this).attr('data-page');
                var quesid = $(this).attr('data-quesid');
                var answerid = $(this).attr('data-answerid');
                $.post("{:url('Answer/getComment')}",{quesid:quesid,answerid:answerid,page:page},function(data){
                    if(data.code){
                        $('.div-comment').parent().html(data.commentinfo);
                        
                        //$(pagebtn).parent().parent().parent().parent().append(data.commentinfo);
                          
                       
                    }else{

                      
                    }
                },'json');
            });
	$(".changepage").blur(function(){
		var pagenum = {$pagenum};
		var pagebtn = $(this);
        var page = $(this).val();
        var quesid = $(this).parent().attr('data-quesid');
        var answerid = $(this).parent().attr('data-answerid');
        if(page>pagenum || page<=0){
        	Toast('页码超出范围','2000');
        }else{
        	$.post("{:url('Answer/getComment')}",{quesid:quesid,answerid:answerid,page:page},function(data){
	            if(data.code){
	                $('.div-comment').parent().html(data.commentinfo);
	                
	                //$(pagebtn).parent().parent().parent().parent().append(data.commentinfo);
	                  
	               
	            }else{

	              
	            }
        	},'json');
        }

        

	});
	$(".btn-fabiao").click(function(){

        	var quesid = $(this).attr('data-quesid');
            var answerid = $(this).attr('data-answerid'); 
            var commentcontent = $(this).siblings('textarea').val();

            $.post("{:url('Answer/addComment')}",{quesid:quesid,answerid:answerid,commentcontent:commentcontent},function(data){
	            if(data.code){
	                $('.div-comment').parent().html(data.commentinfo);	                	                	               
		            }else{

		              
		            }
        		},'json');
       		 });
	$(".btn-huifu").click(function(){
		$(this).parent().siblings('.div-huifu').css('display','block');
   		 });
	$(".btn-cancel").click(function(){
		$(this).parent().css('display','none');
   		 });
	$(".btn-reply").click(function(){
    	var quesid = $(this).attr('data-quesid');
        var answerid = $(this).attr('data-answerid'); 
        var takeuserid = $(this).attr('data-takeuserid'); 
        var commentcontent = $(this).siblings('textarea').val();
        //console.log(commentcontent);

        $.post("{:url('Answer/addComment')}",{quesid:quesid,answerid:answerid,commentcontent:commentcontent,takeuserid:takeuserid},function(data){
            if(data.code){
                $('.div-comment').parent().html(data.commentinfo);	                	                	               
	            }else{

	              
	            }
    		},'json');
   		 });
	function Toast(msg,duration){
            duration=isNaN(duration)?3000:duration;
            var m = document.createElement('div');
            m.innerHTML = msg;
            m.style.cssText="width: 60%;min-width: 150px;opacity: 0.7;height: 30px;color: rgb(255, 255, 255);line-height: 30px;text-align: center;border-radius: 5px;position: fixed;top: 40%;left: 20%;z-index: 999999;background: rgb(0, 0, 0);font-size: 12px;";
            document.body.appendChild(m);
            setTimeout(function() {
                var d = 0.5;
                m.style.webkitTransition = '-webkit-transform ' + d + 's ease-in, opacity ' + d + 's ease-in';
                m.style.opacity = '0';
                setTimeout(function() { document.body.removeChild(m) }, d * 1000);
            }, duration);
        }
</script>

